*{
  margin: 0;
  padding: 0;
}
.visually-hidden{
  display: none;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
header{
  padding: 0 20px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  padding: 0 30px 0 70px;
  position: relative;
  z-index: 10;
  margin-bottom: -30px;
  transform: scale(1.3);
}
.logo-navigation{
  display: flex;
  align-items: center;
}
.navigation{
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "PT Sans";
  font-weight:700px;
  font-size: 20px;
  line-height: 24px;
  color:black;
  gap:32px;
  padding: 20px 16px;
}
.navigation-user{
  padding-right: 70px;
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "PT Sans";
  font-weight:700px;
  font-size: 20px;
  line-height: 24px;
  color:black;
  gap: 16px;
}
.popup{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  padding: 0;
  width: 160px;
  height: 36px;
  border: none;
  background-color:rgba(117, 97, 87, 1);
  cursor: pointer;
}
.filter{
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 70px 70px 70px;
}
.filter-header{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  color: white;
}
.filter-subtitle{
  display: flex;
  padding-top: 8px;
padding-bottom: 40px;
  gap: 10px;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}




.form-housing{
  display: flex;
}
ul{
  list-style: none;
}
fieldset{
  border: none;
}
.value-selection{
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-option{
  padding-bottom: 16px;
  display: flex;
  gap: 16px;
}
.radio-option{
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.checkboxes{
  font-family: "PT Sans", sans-serif;
  font-weight:400;
  font-size: 18px;
  line-height: 23px;
  color: white;
}
.radio-buttons{
  font-family: "PT Sans", sans-serif;
  font-weight:400;
  font-size: 18px;
  line-height: 23px;
  color: white;
}
.radio{
  appearance: none;
  background-color: #fff;
  margin: 0;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  cursor: pointer;
}
.radio:checked{
  appearance: none;
  background-color: rgba(63, 94, 114, 1);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 5px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
}
.checkbox{
  appearance: none;
  background-color: white;
  margin: 0;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.checkbox:checked{
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}






.form-housing{
  display: flex;
  justify-content: space-between;
}
.value-group{
display: flex;
flex-direction: column;
margin-right: 70px;
}
.value-background{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 48px;
  margin-right: 2px;
  background-color: white;
}
.left-side{
  border-radius: 4px 0 0 4px;
}
.right-side{
  border-radius: 0 4px 4px 0;
}
.value-box{
  display: flex;

  justify-content: center;
  align-items: center;
}
.value-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.value-selector{
  border: none;
  height: 45px;
  width: 100px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.slider{
  width: 287px;
  height: 3px;
  background-color: white;
  margin-top: 48px;
}
legend{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding-bottom: 32px;
}

.label-text{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.submit-btn{
width: 191px;
height: 36px;
background-color: rgba(130, 179, 211, 1);
border: none;
font-family: "PT Sans", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: white;
border-radius: 4px;
margin-bottom: 32px;
cursor: pointer;
}
.reset-btn{
width: 191px;
height: 36px;
border: none;
font-family: "PT Sans", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: white;
cursor: pointer;
background-color: transparent;
}






.view{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
}
.dropdown{
  height: 49px;
  width: 292px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0 20px;
  margin-right: 70px;
  border-radius: 4px;
  border-color: rgba(229, 229, 229, 1);
  appearance: none;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.view-buttons{
  display: flex;
  gap: 8px;
}
.view-button{
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border-color: rgba(229, 229, 229, 1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog{
  margin-bottom: 60px;
}
.catalog-header{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}
.options-selection{
  display: flex;
  gap: 70px;
}
.price-selection{
  display: flex;
}
.buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-img{
  width: 300px;
  height: 212px;
  padding: 20px 0 0 20px;
}
.housing-list{
  border-bottom: solid 2px rgba(229, 229, 229, 1);
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 20px;
}
.housing-card{
  width: 340px;
  height: 438px;
  border: 2px solid rgba(229, 229, 229, 1);
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  flex-direction: column;
  border-radius: 4px;
}
.housing-name{
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 300px;
  padding-left: 20px;
}
.card-price{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.card-buttons{
  padding: 0 20px 0 20px;
  display: flex;
  justify-content:space-between;
}
.details{
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
}
.favorite-add{
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
}
.rating{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}
.rating-part{
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: black;
  border: none;
}
.stars{
  display: flex;
  align-items: center;
  gap: 6px;
}
.line{
  background-color: red;
  height: 2px;
  width: 300px;
}
.pagination{
  display: block;
}
.pages{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.page{
  background-color: rgba(130, 179, 211, 1);
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
}
.page-dots{
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}
.current-page{
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 1);
  color: black;
}



.container-1{
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
}
.container-2{
display: flex;
justify-content: center;
align-items: center;
}



.subscribe{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 96px 0;
  font-family: "PT Sans", sans-serif;
}
.subscribe-header{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  padding-bottom: 20px;
}
.subscribe-form{
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 4px;
}
.subscribe-input{
  font-family: "PT Sans", sans-serif;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  outline: none;
  font-size: 16px;
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
}
.subscribe-button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  border-radius: 0 4px 4px 0;
  padding: 0;
  width: 232px;
  height: 52px;
  border: none;
  background-color: #82B3D3;
  cursor: pointer;
}
.subscribe-phrase{
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: black;
  padding-bottom: 54px;
}
.main-footer{
  font-family: "PT Sans", sans-serif;
  display: flex;
  padding: 45px 70px 35px 70px;
  align-items: center;
  justify-content: space-between;
}
.social{
  list-style: none;
  display: flex;
}
.link{
  padding: 10px 10px;
}
.phone-number{
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
}
.some-logo{
  width: 75px;
}
